body {
  overflow-x: hidden;
  margin: 0px;
}

section {
  margin: auto;
  width: 100%;
}
section .content {
  width: 100%;
}
#block-custom-theme-main-menu {
  background: #fdfdfd;
  height: 70px;
  border: 1px solid black;
}
#block-custom-theme-main-menu ul {
  text-align: center;
  padding-top: 10px;
}
#block-custom-theme-main-menu ul li {
  padding: 20px;
  text-transform: uppercase;
  display: inline;
}
#block-custom-theme-main-menu ul li a {
  text-decoration: none;
  color: black;
}
#block-custom-theme-main-menu a.active, #block-custom-theme-main-menu a:hover {
  background-color: #d1d1d1;
  transition: 0.3s;
  padding: 8px;
  border-radius: 5px;
}

.quickedit-field p {
  width: 40%;
}

.links inline {
  background-color: blueviolet;
  padding: 20px;
}

section .main {
  margin-left: 25px;
}

article h2 {
  color: darkblue;
}
article .views-col {
  margin-top: 10px;
  font-size: medium;
}

.field-content {
  padding: 10px p;
  padding-width: 90%;
}

.quickedit-field img {
  height: 450px;
  aspect-ratio: 16/9;
}

main .content {
  margin-left: 20px;
}

.dialog-off-canvas-main-canvas section .content {
  margin-left: 40px;
}

.description p {
  width: 90%;
  text-align: justify;
}

.field-content h1 {
  width: 90%;
}

.title-blog {
  width: 80%;
  font-size: 20px;
}
.title-blog a {
  text-decoration: none;
}

.views-col .col-1 {
  width: 27%;
}

.col-blog .views-col .col-2 {
  width: 20%;
}

.row-blog .views-row .clearfix .row-2 {
  width: 60%;
}

.views-view-grid .views-row {
  float: left;
  clear: both;
  width: 84%;
  margin-bottom: 40px;
}

.footer_top {
  display: flex;
  background-color: black;
}
.footer_top #block-mainnavigation ul {
  width: 100%;
}
.footer_top #block-mainnavigation ul li {
  text-decoration: none;
}
.footer_top #block-mainnavigation ul li a {
  text-decoration: none;
  color: white;
}
.footer_top .first_div {
  width: 100%;
  color: white;
}
.footer_top .first_div .quickedit-field {
  margin-left: 30px;
}
.footer_top .second_div {
  width: 100%;
  margin-left: 180px;
}
.footer_top .second_div ul {
  padding: 41px;
  margin-top: 40px;
}
.footer_top .third_div {
  width: 100%;
}
.footer_top .third_div #edit-keys {
  width: 63%;
}
.footer_top .third_div #search-block-form {
  margin-top: 80px;
}

.footer_bottom {
  height: 40px;
  background-color: #3b3838;
}
.footer_bottom .quickedit-field p {
  margin-top: 0px;
  padding: 10px;
  margin-left: 500px;
}

.block-mainpagecontent .views-row .clearfix .row-1 {
  margin-bottom: 40px;
}