.user-register-form {
    font-size: 20px;
    text-align: center;
    input[type=text],input[type=password] , input[type=email]{
        width: 100%;
        margin-bottom: 20px;
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;  
    
   
}
.contact_box{
    // border-radius: 5px;
    border: 1px solid;
      width: 35%;
      margin: auto;
      margin-bottom: 64px;
      display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: #6e6867 4px 7px;
} 
#edit-mail--description,#edit-user-picture-0--description ,#edit-contact--2--description ,#edit-contact{
    display: none;
}
}

@media screen and (max-width:600px){
    #user-register-form{
        #contact_box_id{
                width: 60%;
                display: block;
        }
    }

}
@media screen and  (min-width:600px) and (max-width:900px){
    #user-register-form{
        .contact_box{
                width: 39%;
        }
    }
}
@media screen and  (min-width:1000px) and (max-width:1600px){
    #user-register-form{
        .contact_box{
                width: 25%;
        }
    }
}