body {
    overflow-x: hidden;
    margin: 0px; 
    //  background-color:#e3e6e8;

}

 section{
     margin: auto;
     width: 100%; 
    
    .content{
        width:100%;
    } 
    .right_sidebar{
        // width: 20%;
    }
 }
//  #block-custom-theme-main-menu{
//      background: rgb(253, 253, 253);
//      height: 70px;
//      border: 1px solid black;
//      ul{
//      text-align: center;
//      padding-top: 10px;
//    li{
//        padding: 10px;
//        text-transform: uppercase;
//        display: inline;


//      a{

//         text-decoration: none;
//         color: black;menu
//         background-color: transparent;
//         padding: 10px;
//      }
//     }
//      }
//     a.active,a:hover{
    
//         transition: .3s;
//         border-radius: 5px;
//         background: rgb(189, 190, 188);
        
//     }
//   }
  .quickedit-field{
      p{
          width: 40%;
      }
  }
  .links inline{
      background-color: blueviolet;
      padding: 20px;
  }
    // #footer{
    //     width: 100%;
    //     height:100px;
    //     background-color: black;
    
    // }
section{
    .main{
        margin-left: 25px;
    }
}

article{
    // display: flex;
 h2{
     color: darkblue;
 }
.views-col{
    margin-top: 10px;
    font-size: medium;
}}

.field-content{
    padding:10px
    p{
        width: 90%;
    }
}
img.banner.align-center{
    height: 450px;
    width: 100%;
}

.views-field .field-content {
   
}
main{
    .content{
        margin-left: 70px;
    }
  
} 

.description{
   p{ width: 90%;
    text-align: justify;
    height: 90px;

  } 
}
.field-content{
    h1{
        width:90%;
    }
}

.views-col .col-1{
    width: 27%;
 }
.col-blog .views-col .col-2{
    width: 20%;
}
.row-blog .views-row .clearfix .row-2{
  width: 60%;
}
.views-view-grid .views-row {
    float: left;
    clear: both;
    width: 94%;
    margin-bottom: 40px;
}

  

.views-view-grid .horizontal .cols-3 .clearfix{
    margin-left: 500px;
}

.fontawesome-icons{
    color: white;
}

.readmore{
    a{
       padding: 6px;
    //    border: 1px solid black;
       border-radius: 0px;
       background-color: #aba8a3; 
       text-decoration: none;
       color: black;
       
    }
    a:hover {
        background-color: rgb(8, 8, 7);
        color: white;
      }
    
}

.author-name{
    margin-bottom:10px;
}



.views-view-grid .horizontal{
    background-color: yellowgreen;
}
.row_image .views-row c.learfix .row-1{
    background-color: blue;
}
.row-image{
    display: flex;
    margin-bottom: 30px;
    .col-image{
        width: 27.333333%;
        .image-div{
            margin-left: 70px;
        }
    }
}

.footer_top{
    width: 100%;
    height: auto;
    background: black;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    // #block-mainnavigation{
    //             ul{
    //                 width:100%;
    //                 li{
    //                     text-decoration: none;
                        
    //                     a{
    //                           text-decoration: none;
    //                           color: white;
    //                     }
    //                 }
    //             }
    //         }
    .box{
        width: 30%;
        height: auto;
        box-sizing: border-box;
        color: white;

    }
    #box3{
        margin-top: 60px;
        // margin-left: 40px;
        .views-col{
            margin-top: 20px;
            width: 19%;
        }

    }
    #box2{
        margin-top:35px;
        margin-left: 40px;

    }
    #box1{
        margin-left: 92px;
    }
}

@media screen and (max-width:1200px){
   .footer_top{
    .box{
       width: 40%;
       #box3{
        margin-right: 365px;
       }
   }
}
.footer_top #box3 {
    margin-right: 330px;
    margin-top: 0px;
    margin-left: 0px;
}
.footer_top #box1{
    margin-left: 0px;
}
}
@media screen and (max-width:600px){
    .footer_top #box3 {
    // margin-top: 0px;
    // margin-left: 60px;
    margin: auto;

    }
    .footer_top #box1{
        margin-left: 0px;
    }
    .footer_top #box2 {
        margin-top: 0px;
        margin-left: 0px;
    
        }
   .footer_top{
    .box{
        width: 80%;
       
    }     
 }
 img.banner.align-center{
     display: none;
 }
 }
.fontawesome-icon{
    float: left;
    margin-right:10px;
    width: 25%;
}

.views-row .clearfix .row-1{
    .views-col{
        width: 26%;
    } 


}
table{
	width: 80%;
	border-collapse: collapse;
     margin: auto;
    margin-bottom: 63px;
}

table td,table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

table th{
	background-color: darkblue;
	color:#ffffff;
}

table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}



.gallery-view {
    max-width: 1200px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    object-position: bottom;
    object-fit: cover;
    justify-content: center;

    .views-row{
        // width: 33%;
        padding: 25px;
    }
}
.myblog{
    margin: auto;
    width: 95%;
}

.views-row{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    img{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .desc_div{
        width: 50%;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .read{
            margin-bottom: 20px;
            margin-top: 15px;
        }
        .title_box{
            height: 64%;
        }
        .title{
            a{
                font-size: 26px;
                text-decoration: none;
                color: black;
            }
        }
        .read_div{
            
            a{
            
            background-color: #00b894;
            color: white;
            padding: 8px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 30px;
            text-decoration: none;
            }
            :hover{
                background-color:white;
                color:black;
                border: 1px solid black;
            }
        }
        p{
            text-align: justify;
            height: 37%;
    
        }
        
    }
}
@media screen and (max-width:600px){
 .views-row{
     flex-direction: column;
     align-items: center;
     img{
        width: 93%;
        height: auto;
     }
     .desc_div{
         width: 90%;
     }
 }

 table{
	width: 70%;
	border-collapse: collapse;
    // margin: auto;
}

table td,table th{
  padding:0px 0px;
  border:1px solid #ddd;
  text-align: center;
  font-size:14px;
}
.myblog{
    width: 60%;
    margin: auto;
    .views-row{
        .myblog_div{
            width: 93%;
        }
        .views-field .views-field-field-image{
            .field-content .myblog-image{
               img{
                width: 93%;
                height: auto;
                
               } 
            }
        }
    }
}
}


@media screen and  (min-width:600px) and (max-width:800px){
//  .views-row{
//     // width: 90%;
//     // height: auto;
    img{
        width: 39%;
    height: auto;
    }
.views-row{ 
  .views-field .views-field-field-image{
.field-content .myblog-image{
    img{
        width: 100% !important;
      height: auto !important;
    }

    }
}
.image-div{
   img { width: 100%; 
    // height: 0px;
   }
}
}
}
.img_desc{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
    // padding: 16 px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .myblog_div{
        padding: 15px;
        .myblog_read{
            margin-bottom: 10px;
            a{
                text-decoration: none;
            }
        }
        .myblog_title{
            height: 67%;
            a{
                text-decoration: none;
                color: black;
                 font-size: 20px;
            }
            p{
                text-align: justify;
            }
        }
    }
   
}
@media screen and (max-width:600px){
    .img_desc{
        flex-direction: column;
        align-items: center;
        width: 100%;
        img{
           width: 93%;
           height: auto;
        }
        .myblog_div{
            width: 90%;
        }
    }
}

@media screen and  (min-width:1040px) and (max-width:1460px){
    .img_desc{
        width: 66%;
    }
}
    
@media screen and  (max-width:800px) {
    // #block-custom-theme-main-menu{
    //     display: none;
    // }
    img.banner.align-center {
        display: none;
    }}
    .hamburger_menu{
        display:block;
        margin-top: -38px;
       position: absolute;
    }
   

.main_navigation{ 
    display: flex;
position: relative;
justify-content: space-between;
align-items: center;
background-color: rgb(255, 248, 248);
color:rgb(0, 0, 0);
.brand-title{
    padding:15px;
    font-size: 20px;
}
.menu_bar{
    // display: flex;
    li{
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
       a{ display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 1rem;
    }
    }
}
.toggle-button {
    position: absolute;
    //top: .75rem;
    // right: 1rem;
    // display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
}
}
@media (max-width: 800px) {
    .main_navigation {
        flex-direction: column;
        align-items: flex-start;
        background-color:#00b894;
        .fullview{
            width: 93%;
        }
        .toggle-button {
            display: block;
    }}
    


    .toggle-button {
        display: flex;
        margin-left: 90%;
       margin-top: 13px;
       border: none;
      font-size: 20px;
      color:black;
      background: transparent;
    }

    .menu_bar {
        display: none;
        width: 100%;
    }

    .menu_bar li {
        width: 100%;
        flex-direction: column;
    }

    .menu_bar  li {
        text-align: center;
    }

    .menu_bar  li a {
        padding: .5rem 1rem;
        color: rgb(255, 248, 248);
    }

    .menu_bar.active {
        // display: flex;
        display: inline-block;
    }
}
@media screen and  (min-width:800px) and (max-width:1000px){
    .main_navigation{
    .menu_bar{
        
        li{
            
           a{ 
            padding: 10px;
           font-size: 13px;
        }
        }
    }
}
}
